<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>findIBAN</servlet-name>
        <servlet-class>servlets.findIBAN</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newPerson</servlet-name>
        <servlet-class>servlets.newPerson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletePerson</servlet-name>
        <servlet-class>servlets.deletePerson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllPersons</servlet-name>
        <servlet-class>servlets.getAllPersons</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPerson</servlet-name>
        <servlet-class>servlets.getPerson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>personTransaction</servlet-name>
        <servlet-class>servlets.personTransaction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>findIBAN</servlet-name>
        <url-pattern>/findIBAN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newPerson</servlet-name>
        <url-pattern>/newPerson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletePerson</servlet-name>
        <url-pattern>/deletePerson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllPersons</servlet-name>
        <url-pattern>/getAllPersons</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPerson</servlet-name>
        <url-pattern>/getPerson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>personTransaction</servlet-name>
        <url-pattern>/personTransaction</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
